/! start testimonials
section#testimonials
  /! start anchors
  .anchors
    .contanchors
      a href="#services"
        img.anchortop alt="" src="#{Routes.static_path(@conn, "/images/anchors/toptestimonials.png")}" /
      a href="#sectionportfolio"
        img.anchorbottom alt="" src="#{Routes.static_path(@conn, "/images/anchors/bottomtestimonials.png")}" /
  /! end anchors
  /! start dark filter
  #darkfilter
    /! start container
    .container.clearfix
      /! top quote
      .grid_12.topquote
        img alt="" src="#{Routes.static_path(@conn, "/images/section-testimonials/topquote.png")}" /
      /! top quote
      /! left testimonial
      .grid_6.lefttestimonials
        h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum arcu.
        /! you can edit
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum arcu, eget bibendum diam dapibus a. Maecenas lectus felis, pharetra sit amet dictum quis, semper eu nibh. Praesent placerat massa ut justo gravida placerat. Phasellus. Praesent placerat massa ut justo gravida placerat semper eu nibh.
        /! you can edit
      /! end left testimonial
      /! right testimonial
      .grid_6.righttestimonials
        h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum arcu.
        /! you can edit
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut neque nulla. Nulla aliquam dictum arcu, eget bibendum diam dapibus a. Maecenas lectus felis, pharetra sit amet dictum quis, semper eu nibh. Praesent placerat massa ut justo gravida placerat. Phasellus. Praesent placerat massa ut justo gravida placerat semper eu nibh.
        /! you can edit
      /! right testimonial
      /! bottom quote
      .grid_12.bottomquote
        img alt="" src="#{Routes.static_path(@conn, "/images/section-testimonials/bottomquote.png")}" /
      /! bottom quote
    /! end container
  /! end dark filter
/! end testimonials
