= render CrocodileWeb.PageView, "_navigation.html", assigns
= render CrocodileWeb.PageView, "_sectionslide.html", assigns
= render CrocodileWeb.PageView, "_services.html", assigns
= render CrocodileWeb.PageView, "_testimonials.html", assigns
= render CrocodileWeb.PageView, "_portfolio.html", assigns
= render CrocodileWeb.PageView, "_prices.html", assigns
= render CrocodileWeb.PageView, "_team.html", assigns
= render CrocodileWeb.PageView, "_skills.html", assigns
= render CrocodileWeb.PageView, "_oursocial.html", assigns
= render CrocodileWeb.PageView, "_contacts.html", assigns
