form{
  width: 100%;
}

.page-header h1 {
  border-bottom: 1px solid #ddd;
}

.page-header{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.page-body{
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.page-body .panel{
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.info-color{
  background-color: #33b5e5;
}

.page-title{
  margin-bottom: 20px;
  float: left;
}

nav.navbar {
  margin-bottom: 50px;
}

.pull-right{
  float: right;
}

// Form
.form-group.submit{
  margin-top: 40px;
}

// Datatables
.datatable-search{
  padding-bottom: 10px;
}

.datatable-search label{
  width: 100%;
  height: 38px;
}

.datatable-search input{
  height: 38px;
}

.datatable-pages{
  padding: 0;
}

.datatable-pages ul{
  float: right;
}

.datatable-bottom{
  padding: 0px 15px;
}

.datatable-bottom .badge{
  height: 34px;
  font-size: 12pt;
  padding: 8px;
}

.datatable-on-page label{
  height: 34px;
  width: 100%;
}

.datatable-on-page label select{
  height: 100%;
}

.datatable-pages .paginate_button a{
  background-color: #343a40;
  color: #fff;
}
