.feather-14{
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}

.feather-16{
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-18{
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

.btn-danger{
  background-color: #fd7c80 !important;
  border-color: #fff !important;
}

.btn-secondary{
  background-color: #7196ff !important;
  border-color: #fff !important;
}

.form-box{
  margin-top: 60px;
}

