.feather-14{
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}

.feather-16{
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feather-18{
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

.btn-danger{
  background-color: #fd7c80 !important;
  border-color: #fff !important;
}

.btn-secondary{
  background-color: #7196ff !important;
  border-color: #fff !important;
}

.form-box{
  margin-top: 60px;
}

.form-image{
  max-height: 100px;
  display: block;
}

.btn-image-del{
  position: absolute;
  // margin-top: 22px;
  margin-right: -22px;
  color: black;
  background: rgba(white, .8);
  border-radius: 50%;
  padding: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btn-image-del i{
  margin-left: 4px;
  margin-top: 2px;
  font-size: 16px;
}

.admin_banner{
  max-width: 300px;
  max-height: 300px;
}

.admin_instagram{
  max-width: 150px;
  max-height: 150px;
}

td .label{
  text-align: center;
  line-height: 2;
  text-transform: none;
  line-height: normal;
}

 .card-body .label{
  padding: 5px;
  text-transform: none;
  line-height: normal;
 }

 .order-price{
  font-weight: bold;
  font-size: 20pt;
 }
