.dashboard-menu{
  margin-top: 100px;
  height: 50px;
}

.btn-menu{
  color: #fff;
  display: inline;
  padding: 10px;
  margin-right: 10px;
}

.card .card-header-menu{
  border-bottom: none;
  padding: 10px;
  border-bottom: 1px solid #f8f8f9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .card-header-menu h5 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 24px;
}

.card .dashboard-card-body{
  padding: 10px;
}

.dashboard_item_id{
  color: #777;
  font-size: 10pt;
  font-weight: bold;
}

.dashboard_item_name{
  font-size: 14px;
  font-weight: bold;
}

.dashboard_item_images{
  margin-bottom: 10px;
}

.dashboard_item_images span img{
  border-radius: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 1px solid #8bcff3;
  max-height: 100px;
  max-width: 100px;
}

.dashboard_item_description{
  background-color: #fdf4e4;
  padding: 5px;
  text-align: justify;
  margin-bottom: 10px;
}

#dashboard_item_image_preview{
  position: absolute;
  top: 175px;
  z-index: 30;
  padding: 1px;
  background-color: #8bcff3;
  border-radius: 5px;
}

#dashboard_item_image_preview img{
  border-radius: 5px;
  max-height: 400px;
  max-width: 400px;
}

.dashboard_item_data_block{
  background-color: #e4f4fd;
  padding: 5px;
  margin-bottom: 5px;
}

.dashboard_item_data_block .dashboard_item_data_type{
  font-weight: bold;
  color: #025996;
}

.dashboard_item_data_block .dashboard_item_table{
  width: 100%;
}

.dashboard_item_data_block .item_label{
  font-weight: bold;
  font-size: 12px;
  // border-bottom: 2px dashed #fff;
}

.dashboard_item_data_block .item_value{
  font-size: 12px;
  text-align: right;
  // border-bottom: 2px dashed #fff;
}

.dashboard_item_data_block .item_value_price{
  font-size: 14px;
  font-weight: bold;
  color: #025996;
  text-align: right;
  // border-bottom: 2px dashed #fff;
}

.admin_products_img{
  height: 50px;
}

.admin_product_article{
  color: #777;
  font-size: 10pt;
}

.admin_product_name{
  font-weight: bold;
  font-size: 10pt;

}

table.admin_products_table tr:hover{
  background-color: #ffeed5;
  cursor: pointer;
}

table.admin_products_table td{
  padding: 5px;
}

.admin_products_nav{
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.admin_filter_nav{
  border: 2px solid #ff76b5;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.admin_filter_nav:hover, .admin_filter_nav.active{
  background-color: #ff76b5;
  color: #fff;
}

.filter-elem{
  padding: 10px;
  border-bottom: 1px solid #ffc1e4;
}

.filter-label{
  font-weight: bold;
}

.filter-input{
}

.admin_product_row.active{
  background-color: #b7e4fd !important;
}

.admin_product_row.active:hover{
  background-color: #d6f0ff !important;
}

.hide{
  display: none;
}

.tag-body{
  padding: 0px 10px 0px 10px;
}

.tag-pool{
  border: 1px solid #eee;
}

.tag{
  cursor: pointer;
  padding: 2px;
  padding-left: 10px;
  margin: 2px;
  border-radius: 4px;
  text-align: left;
  color: #fff;
}

.tag.category{
  background-color: #57458e;
}

.tag.subcategory{
  background-color: #7f458e;
}
