a{
  color: #fa869b;
}

a:hover{
  color: #ff5876;
}

.nav-logo{
  height: 100px;
  position: absolute;
  margin-top: -50px
}

.footer-logo{
  height: 100px;
  float: left;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  ul.wide{
    border: 1px solid #ccc;
    min-width: 30em !important;
  }
  ul.wide li a{
    white-space: normal !important;
  }
}

#price_slider{
  margin-top: 50px;
  margin-bottom: 10px;
}

.noUi-connect {
  background: #fa869b;
}

.details{
  width: 100%;
  padding: 20px;
}

.detail{
  padding-bottom: 10px;
}

.details-val{
  margin-left: 10px;
}

.help-block{
  color: red;
}

.nav-link{
  color: #999999;
}

#cart-counter, #cart-counter-side{
  font-size: 11pt;
  color: white;
  text-align: center;
  background-color: #fa869b;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-left: -9px;
  margin-top: 8px;
}

#fixed_cart_icon{
  z-index: 10;
}

.item-icon{
  background-color: #fff;
  opacity: 0.5;
  margin: 1px;
  border-radius: 50%;
}

.like-btn {
  cursor: pointer;
}

.like-btn:hover {
  cursor: pointer;
  color: #fa869b;
}

.like-btn.liked {
  color: #fa869b;
}

.blog-img{
  max-height: 385px;
}

.collection-brand-filter label{
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

.select2-selection {
  margin: 10px 0px 0px 0px !important;
  height: 38px !important;
  border-radius: 0 !important;
}

.select2-selection__rendered{
  line-height: 38px !important;
}

.select2-selection__arrow{
  top: 15px !important;
}

.filter-btn{
  width: 100%;
  margin-bottom: 10px;
}

.breadcrumb-section .breadcrumb {
  justify-content: normal;
}

.hidden{
  display: none;
}

.catalog-img{
  background-repeat: no-repeat;
  background-size: contain !important;
}

.cat-item{
  margin-bottom: 15px;
  margin-top: 15px;
}

.cat-item .cat-name{
  background-color: #fff;
  opacity: 0.5;
  color: #ff5876;
  position: absolute;
  top: 75%;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-item .cat-name:hover{
  color: #f73e5f;
}

.search{
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 35px;
    padding-bottom: 42px;
    letter-spacing: 0.07em;
}

.input-group-text{
  border-radius: 0 !important;
}

.article_code{
  font-size: 12px;
  color: #666;
}

.item_card_name{
  font-size: 14px !important;
  text-align: justify;
}

.partner-logo{
  max-width: 125px !important;
  max-height: 125px !important;
}

.cart-sum-style{
  border-bottom-width: 1px;
  font-weight: 900 !important;
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
}

.sum-total-view, .order-total-count{
  white-space: nowrap;
}
