.nav-logo{
  height: 100px;
  position: absolute;
  margin-top: -40px
}

.footer-logo{
  height: 100px;
  float: left;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  ul.wide{
    border: 1px solid #ccc;
    min-width: 30em !important;
  }
  ul.wide li a{
    white-space: normal !important;
  }
}

#price_slider{
  margin-top: 50px;
  margin-bottom: 10px;
}

.noUi-connect {
  background: #fa869b;
}

.details{
  width: 100%;
  padding: 20px;
}

.detail{
  padding-bottom: 10px;
}

.details-val{
  margin-left: 10px;
}

.help-block{
  color: red;
}

.nav-link{
  color: #999999;
}

#cart-counter, #cart-counter-side{
  font-size: 11pt;
  color: white;
  text-align: center;
  background-color: #fa869b;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-left: -9px;
  margin-top: 8px;
}

#fixed_cart_icon{
  z-index: 10;
}

.item-icon{
  background-color: #fff;
  opacity: 0.5;
  margin: 1px;
  border-radius: 50%;
}

.like-btn {
  cursor: pointer;
}

.like-btn:hover {
  cursor: pointer;
  color: #fa869b;
}

.like-btn.liked {
  color: #fa869b;
}


.blog-img{
  max-height: 385px;
}
