#ageModal .modal-content{
  background: #fff url("/images/maturity.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90%;
}

#ageModal .modal-dialog{
  max-width: 60%;
  height: 60%;
}

@media (max-width: 1000px) {
  #ageModal .modal-dialog{
    max-width: 100%;
  }
}

.maturity-modal-body{
  height: 100%;
}

#ageModal .modal-body{
  padding: 0 !important;
}

#cookie-text{
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffffc9;
  max-width: 300px;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  right: 2%;
  text-align: right;
  font-weight: bold;
}

#maturity-text{
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffffc9;
  text-transform: uppercase;
  position: absolute;
  max-width: 300px;
  bottom: 25%;
  left: 2%;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 1000px) {
  #maturity-text{
    bottom: 40%;
  }
}

.maturity-flash-text{
  color: #ff6c7f;
  font-size: 16px;
}

#maturity-modal-btn{
  background-image: linear-gradient(30deg, #ff6c7f 50%, transparent 50%);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  max-width: 100%;
  white-space: pre-wrap;
  background-size: 400%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
